{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Flask Setup</h1>
            <span class="subheading">A template for flask projects.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for project in all_projectss %}
        <div class="project-preview">
          <a href="{{ url_for('show_project', project_id=project.id) }}">
            <h2 class="title">
              {{project.title}}
            </h2>
            <h3 class="subtitle">
              {{project.subtitle}}
            </h3>
          </a>
          <p class="meta">Posted by
            {{project.author.name}}
            on {{project.date}}
            {% if current_user.id == 1: %}
            <a href="{{url_for('delete_project', project_id=project.id) }}">✘</a>
            {% endif %}
          </p>
        </div>
        {% endfor %}


        <!-- New Project -->
        {% if current_user.id == 1: %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('add_new_project')}}">Create New Project</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}